{% extends 'base.html' %}

{% block meta %}
    <title>Request Buku</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background: #f2f2f2;
        height: 100%;
    }
    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .centered-text {
        text-align: center;
    }
    .form-control {
        width: 100%;
    }
    button {
        margin-top: 15px;
    }
</style>

<div class="container mt-4">
    <div class="row justify-content-center align-items-top center-container">
        <div class="col-md-6">
            <div class="background-container">
                <h2 class="centered-text mb-4">Request Buku</h2>
                <form method="post" id="book-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mb-4 d-grid gap-2">
                        <button class="btn btn-primary login_btn" type="button" id="submit-btn">Submit</button>
                    </div>
                </form>
                <div id="message"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#submit-btn").click(function() {
        var title = $("#id_title").val();
        var author = $("#id_author").val();
        var category = $("#id_category").val();
        var year = $("#id_year").val();

        if (title && author && category && year) {
            var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
            $.ajax({
                type: "POST",
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    title: title,
                    author: author,
                    category: category,
                    year: year
                },
                success: function(response) {
                    showMessage("<p class='text-success'>Buku berhasil disimpan.</p>", 3000);
                    resetForm("book-form");
                },
                error: function() {
                    showMessage("<p class='text-danger'>Terjadi kesalahan saat mengirim data.</p>", 3000);
                }
            });
        } else {
            showMessage("<p class='text-danger'>Harap lengkapi semua informasi yang diperlukan.</p>", 3000);
        }
    });
});


function resetForm(formId) {
    var form = document.getElementById(formId);
    if (form) {
        form.reset();
    } else {
        console.log("Form not found with id: " + formId);
    }
}

function showMessage(message, duration) {
    $("#message").html(message);
    setTimeout(function() {
        $("#message").empty();
    }, duration);
}
</script>
{% endblock content %}
