{% extends 'base.html' %}

{% block content %}

<style>

    .flex-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        margin-top: 25vh;
        margin-right: 15vw;
        margin-left: 15vw;
    }

    .card-menu {
        box-shadow: 4px 2px 16px #f2f2f2;
        border-radius: 12px;
        border-width: 0.2rem;
        padding-left: 4vw;
        padding-top: 2rem;
        padding-right: 12vw;
        padding-bottom: 2rem;
    }

    .card-contents {
        box-shadow: 4px 2px 16px #f2f2f2;
        border-radius: 12px;
        border-width: 0.2rem;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
        width: 100vw;
    }

    .biodata {
        display: grid;
        grid-template-columns: auto 8vw;

    }
    
    .edit {
        grid-column: 2;
    }

    .biodata-contents {
        grid-column: 1;
        display: grid;
        grid-row-gap: 1.2rem;
    }

    .biodata-contents-edit {
        grid-column: 1;
        display: none;
        grid-row-gap: 1.6rem;
    }

    .menu {
        display: grid;
        row-gap: 1.5rem;

    }

    .exit {
        padding-top: 1.5rem;
    }

    
</style>

<div class="flex-container">
    <div class="card-menu">
        <div class="menu">
            <h4>
                <a id="selection-biodata" onclick="showBiodata()" style="color: #0032d6">
                    Biodata
                </a>
            </h4>
            <h4>
                <a id="selection-wallet" onclick="showWallet()">
                    Wallet
                </a>
            </h4>
            <h4 class="exit">
                <a>
                    Keluar
                </a>
            </h4>
        </div>
    </div>

    <div class="card-contents" id="biodata">
        <div class="biodata">
            <button class="edit" onclick="switchModeBiodata()">
                Edit
            </button>
            <div class="biodata-contents" id="biodata-contents">
                <div class="name">
                    <h5> Nama </h5>
                    <p> nama </p>
                </div>
                <div class="email">
                    <h5> Email </h5>
                    <p> email </p>
                </div>
                <div class="gender">
                    <h5> Jenis Kelamin </h5>
                    <input type="radio" id="male" name="gender" value="male" checked="true">
                    <label for="male"> Laki-Laki </label>
                    <input type="radio" id="female" name="gender" value="female" disabled="true">
                    <label for="female"> Perempuan </label>
                </div>
                <div class="birthday">
                    <h5> Tanggal Lahir </h5>
                    <input type="date" id="birthday" name="birthday" readOnly="readonly" value="2004-05-04">
                </div>
                <div class="phone-number">
                    <h5> Nomor Telepon </h5>
                    <p> 085157878087 </p>
                </div>
            </div>

            <form id="form-edit-biodata">
            <div class="biodata-contents-edit" id="biodata-contents-edit">
                <div class="name">
                    <h5> Nama </h5>
                    <input type="text" id="input-name" name="name" value="nama">
                </div>
                <div class="email">
                    <h5> Email </h5>
                    <input type="text" id="input-email"  name="email" value="email">
                </div>
                <div class="gender">
                    <h5> Jenis Kelamin </h5>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male"> Laki-Laki </label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female"> Perempuan </label>
                </div>
                <div class="birthday">
                    <h5> Tanggal Lahir </h5>
                    <input type="date" id="birthday-input" name="birthday">
                </div>
                <div class="phone-number">
                    <h5> Nomor Telepon </h5>
                    <input type="text" id="number-input" name="phone_number" value="085157878087">
                </div
                <br>
                <button type=button id="button-submit" onclick="editBiodata(0)"> Submit </button>
            </div>
            </form>
        </div>
    </div>

    <div class="card-contents" id="wallet" style="display: none">
        <div class="wallet">
            <h5>Saldo Kamu:</h5>
            <h2>Rp saldo,00</h2>
            <br>
            <button id="button-topup" data-bs-toggle="modal" data-bs-target="#topUpModal">
                Tambah Saldo
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="topUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Top Up Wallet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-topup" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="balance" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="balance" name="balance"></input>
                    </div>
                    <div class="mb-3">
                        <label for="payment-method" class="col-form-label">Payment Method:</label>
                        <select class="form-control" id="payment-method" name="payment-method">
                            <option value="GoPay">GoPay</option>
                            <option value="OVO">OVO</option>
                            <option value="Dana">Dana</option>
                            <option value="Pulsa">Pulsa</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal">Kembali</button>
                <button type="button" id="button_topup" onclick="topup(0)" data-bs-dismiss="modal">Top Up</button>
            </div>
        </div>
    </div>
</div>


    </div>
<script>

    async function getBiodata() {
        return fetch("{% url 'user_profile:get_biodata_json' %}").then((res) => res.json())
    }

    async function getWallet() {
        return fetch("{% url 'user_profile:get_wallet_json' %}").then((res) => res.json())
    }

    async function refreshBiodata() {
        document.getElementById("biodata-contents").innerHTML = ""
        const biodata = await getBiodata()
        let htmlString = ''
        biodata.forEach((data) => {
        htmlString += `
            <div class="name">
                <h5> Nama </h5>
                <p> ${data.fields.name} </p>
            </div>
            <div class="email">
                <h5> Email </h5>
                <p> ${data.fields.email} </p>
            </div>
        `
        if (`${data.fields.gender}` == `male`) {
            htmlString += `<div class="gender">
                                <h5> Jenis Kelamin </h5>
                                <input type="radio" id="male" name="gender" value="male" checked="true">
                                <label for="male"> Laki-Laki </label>
                                <input type="radio" id="female" name="gender" value="female" disabled="true">
                                <label for="female"> Perempuan </label>
                            </div>
                            `
        }
        else {
            htmlString += `<div class="gender">
                                <h5> Jenis Kelamin </h5>
                                <input type="radio" id="male" name="gender" value="male" disabled="true">
                                <label for="male"> Laki-Laki </label>
                                <input type="radio" id="female" name="gender" value="female" checked="true">
                                <label for="female"> Perempuan </label>
                            </div>
                        `
        }
        htmlString += `
            <div class="birthday">
                <h5> Tanggal Lahir </h5>
                <input type="date" id="birthday" name="birthday" readOnly="readonly" value = "${data.fields.birthday}">
            </div>
            <div class="phone-number">
                <h5> Nomor Telepon </h5>
                <p> ${data.fields.phone_number} </p>
            </div>
        `
        })
        document.getElementById("biodata-contents").innerHTML = htmlString
    }

    async function refreshWallet() {
        document.getElementById("wallet").innerHTML = ""
        const wallet = await getWallet()
        let htmlString = ''
        wallet.forEach((data) => {
            htmlString += `
            <div class="wallet">
                <h5>Saldo Kamu:</h5>
                <h2>Rp ${data.fields.balance},00</h2>
                <br>
                <button id="button-topup" data-bs-toggle="modal" data-bs-target="#topUpModal">
                    Tambah Saldo
                </button>
            </div>
        `
        })
        document.getElementById("wallet").innerHTML = htmlString
    }

    async function switchModeBiodata() {
        var biodataEdit=document.getElementById("biodata-contents-edit")
        var biodata=document.getElementById("biodata-contents")

        if (biodataEdit.style.display == "grid") {
            biodataEdit.style.display = "none"
            biodata.style.display = "grid"

        }
        else {
            biodataEdit.style.display = "grid"
            biodata.style.display = "none"
        }
    }

    async function showWallet() {
        var wallet=document.getElementById("wallet")
        var biodata=document.getElementById("biodata")

        wallet.style.display= "inline"
        biodata.style.display= "none"

        document.getElementById("selection-wallet").style.color= "#0032d6"
        document.getElementById("selection-biodata").style.color= "#000000"
    }

    async function showBiodata() {
        var wallet=document.getElementById("wallet")
        var biodata=document.getElementById("biodata")

        wallet.style.display= "none"
        biodata.style.display= "inline"

        document.getElementById("selection-wallet").style.color= "#000000"
        document.getElementById("selection-biodata").style.color= "#0032d6"
    }
    

    function editBiodata(pk) {
        var form = new FormData(document.querySelector('#form-edit-biodata'))
        for (const [key, value] of form) {
            console.log(`${key} : ${value}`)
        }

        var action = confirm("Apakah informasi yang Anda masukkan sudah benar?")
        if (action) {
            fetch(`/edit-biodata/${pk}/`, {
                method: "POST",
                body: new FormData(document.querySelector('#form-edit-biodata'))
            }).then(refreshBiodata)
            document.getElementById("form-edit-biodata").reset()

            return false
        }
    }

    function topup(pk) {
        var form = new FormData(document.querySelector('#form-topup'))
        for (const [key, value] of form) {
            console.log(`${key} : ${value}`)
        }
        
        fetch(`/topup-wallet/${pk}/`, {
            method: "POST",
            body: new FormData(document.querySelector('#form-topup'))
        }).then(refreshWallet)

        document.getElementById("form-topup").reset()
        return false

    }


</script>
{% endblock content %}
