{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background-color: #e8ddb5; /* Supporting Color */
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        display: inline-block;
        vertical-align: top;
    }

    .shop-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 100%;
    }

    .box {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 25px;
    }

    .custom-card-footer {
        background-color: #333333; /* Accent Color */
    }

    .card img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        padding: 10px;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/brcxb2J/1698425247234.png" alt="Bootstrap" width="90" height="90">
        </a>
        <a class="navbar-brand" mb-0 h1><b>LibPanda</b></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav centered-text">
                    <form class="d-flex " role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search Book">
                        <button class="btn btn-outline-success" type="submit">
                            <img src="https://cdn.icon-icons.com/icons2/2469/PNG/512/magnifier_magnifying_glass_icon_149435.png" alt="Bootstrap" width="25" height="25">
                        </button>
                    </form></div></div>
                <div class=" navbar-nav ml-auto col d-flex justify-content-end custom-padding">
                    <a class="nav-link active" aria-current="page" href="#">Request</a>

                    <a class="nav-link active" href="#">Wishlist</a>

                    <a class="nav-link active" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#000000}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                    </a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Hi, {{ name }}
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Profile</a></li>
                          <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                      </li>
                </div>
        </div>
    </div>
</nav>

<head>
    <title>Shopping Cart</title>
</head>

<body>
    <div class="shop-box">
        <div class="box">
            <center>
                <h1>Shopping Cart</h1>
                <div class="card-container" id="bookcart-container"></div>
                <h1>Total Price : {{ total }}</h1>
                <button id="confirm-button" class="btn btn-primary">Proceed to Buy</button>
            </center>
        </div>
    </div>

    <script>
        async function getWishlist() {
            return fetch("{% url 'shoppingcart:show_json' %}").then((res) => res.json())
        }

        function removeItem(id) {
            console.log(id)
            // Kirim permintaan untuk menghapus item dari Shopping Cart
            fetch(`/shoppingcart/remove_bookcart/${id}/`, {
                method: "DELETE",
            }).then(refreshProducts);
        }

        async function removeAllItems() {
            const products = await getWishlist();
            const itemIds = products.map(item => item.pk);

            if (itemIds.length > 0) {
                var confirmation = confirm("Are you sure you want to remove all items from the cart?");
                if (confirmation) {
                    // Lakukan tindakan penghapusan semua item.
                    itemIds.forEach(id => removeItem(id));
                }
            }
        }

        async function refreshProducts() {
            const products = await getWishlist();
            const wishlistContainer = document.getElementById('bookcart-container');
            wishlistContainer.innerHTML = '';

            products.forEach(item => {
                const card = document.createElement('div');
                card.classList.add('card');
                card.id = `bookcart-item-${item.pk}`;
                card.innerHTML = `
                    <img src="${item.book.thumbnail}" alt="${item.book.title}">
                    <h2>${item.book.title}</h2>
                    <p>Penulis: ${item.book.authors}</p>
                    <p>Kategori: ${item.book.categories}</p>
                    <p>Harga: ${item.book.price}</p>
                    <button onclick="removeItem(${item.pk})" style="background-color: red; color: white;">Delete From Shopping Cart</button>
                `;
                wishlistContainer.appendChild(card);
            });
        }

        refreshProducts();

        document.getElementById("confirm-button").addEventListener("click", function() {
            removeAllItems();
        });
    </script>
</body>

{% endblock content %}