{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- Book cards -->
    {% for book in books %}
    <div class="col-md-4 mb-4">
        <div class="card book-card">
            <div class="card-body">
                <!-- Book details -->
                <div class="d-flex">
                    <div class="mr-3 mx-3">
                        <img src="{{ book.thumbnail }}" alt="Book Thumbnail" class="book-thumbnail">
                    </div>
                    <div>
                        <h2 class="card-title"><b>{{ book.title }}</b></h2>
                        <h5 class="card-text"><strong>Genre:</strong>
                            <span class="stock-genre">{{ book.categories }}</span>
                        </h5>
                        <h5 class="card-text"><strong>Stock:</strong>
                            <span class="stock-amount">{{ book.authors }}</span>
                        </h5>
                        <h5 class="card-text"><b>Price:</b>
                            <span class="card-text">{{ book.formatted_price }}</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between custom-card-footer">
                <!-- Button for "View Details" on the left with the specified color -->
                <a href="{% url 'bookdetails:book_details' book.id %}" class="detail-btn" style="text-decoration: none; margin-top: 10px;">
                    View Details
                </a>
                <div class="d-flex">
                    <div class="mr-2" >
                        <button class="circular-btn" onclick="addProduct({{ book.pk }})">
                            <span class="icon">&#10084;</span>
                        </button>
                    </div>
                    <div>
                        <button class="circular-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#000000}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Added to Wishlist</strong>
          <small>less than a minute ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ book.title }} was successfully added to your wishlist!
        </div>
      </div>
    </div>
    {% endfor %}

<style>
    .card {
        background-color: #FFFFFF; /* Primary Background Color */
    }

    .custom-card-footer {
        background-color: #333333; /* Accent Color */
    }

    .book-card {
        margin: 10px;
        height: 100%;
    }

    .card-title {
        font-size: 20px;
        color: #333333; /* Primary Color */
    }

    .stock-genre,
    .stock-amount,
    .card-text {
        font-size: 16px;
        color: #666666; /* Secondary Color */
    }

    .book-thumbnail {
        max-width: 100px;
    }

    body {
        background-color: #e8ddb5; /* Supporting Color */
    }

    .circular-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #FFFFFF; /* Primary Background Color */
        color: #FFFFFF; /* Primary Background Color */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 2px solid #333333;
        padding: 10px;
        margin: 5px;
    }

    .circular-btn:hover {
        background-color: #cacaca; /* Accent Color */
    }

    .icon {
        font-size: 20px;
    }

    .detail-btn {
        background-color: #FFFFFF; /* Primary Background Color */
        color: #333333; /* Primary Color */
        padding: 5px 5px;
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: 500;
        height: fit-content;
        border: 2px solid #333333;
    }

    .detail-btn:hover {
        background-color: #cacaca; /* Accent Color */
        transition: box-shadow 0.3s;
    }
</style>

<script>
    function addProduct(id) {
        fetch(`/wishlist/add_wishlist/${id}/`, {
            method: "GET",
        }).then(response =>
        {
            var myToast = new bootstrap.Toast(document.getElementById('liveToast'));
            myToast.show();
        })

        return false
    }
</script>

{% endblock content %}